.tab{
    padding: 2px;
    margin-left: 50px;
    width: 95%;
}
th{
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #000000;
    color: #F6C344
}
td{
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #000000;
}
