#btn {
    width: 400px;
}

.form-control {
    margin-top: 10px;
}

.btn-warning {
    width: 200px;
}

#form {
    border: 1px solid orange;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
}

.btn-danger {
    color: black;
    margin-left: 10px;
}